body {
    background-color: #f6e5c3;
    margin-left: 5vb;
    margin-right: 5vb;
    /* width: auto; */
    display: flex;
    justify-content: space-around;
}

section {
    width: 100%;
}

.cont {
    height: 760px;
    width: 1350px;

    /* background-color: blueviolet; */

    /* border: 1px solid red; */
}

.top_cont {
    width: 100%;
}

.language_cont {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    /* border: 1px solid red; */
}

.lang_dd {
    font-family: Courier;
}

.lang_dd {
    background-color: #f6e5c3;
    border: none;
    font-family: Courier;
}

.logo-page_name-icons {
    /* border: 1px solid red; */

    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
}

.logo {
    height: 50px;
}

.page_name {
    font-family: Courier;
    margin: 0px;

    font-size: 40px;
    align-self: center;

    margin-left: 1vw;
    padding-left: 2vw;
    border-left: 2px solid black;
}

.icons_cont {
    display: flex;
    margin-left: auto;
    margin-right: 4vw;
    /* align-self: self-end; */

    /* align-self: flex-end; */
}

#icon_heart, #icon_sb {
    font-size: 50px;
    color: #1a7a69;

    margin: 1vb;
}

#icon_profile {
    font-size: 55px;
    color: #1a7a69;

    margin: 1vb;
}

#icon_heart:enabled {
    color: red;
}

.ctgries {
    /* background-color: pink; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2vb;
}

.ctgry {
    font-family: 'Courier New';
    font-size: 25px;
    font-weight: bolder;
}

.ctgry a{
    color: #2e2e2e;
    text-decoration: none;
    margin: 1vb;
}

.ctgry.active {
    background-color: #f0685e;
    border-radius: 1vb;
}
